@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
* {
  color: white;
  -webkit-font-smoothing: antialiased;
}

.cursive, .cursive span {
  font-family: 'Sue Ellen Francisco', cursive !important;
  letter-spacing: 2px;
}